# System Files
.DS_Store
Thumbs.db

# Temporary
/tmp/
*.tmp
*.log

# Build & Gradle
build
**/build/
.gradle

# Kotlin compiler cache and metadata
.kotlin/
*.klib

# Android
# IDE
.idea
.idea/*
!.idea/runConfigurations
!.idea/runConfigurations/*
!.idea/vcs.xml
!.idea/dictionaries
!.idea/dictionaries/*
*.iml
local.properties
.idea/

# Build outputs
*.apk
*.aab
captures/
.externalNativeBuild/
.cxx/

# iOS & Xcode
xcuserdata
**/xcuserdata/

DerivedData
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings